<div id="nav">
    <mat-toolbar>
        <span>
            My Restaurant
        </span>
        <span class="nav-items">
            <span class="ml-2" (click)="navigateTo('')">Home</span>
            <span class="ml-2" (click)="navigateTo('admin')">Admin</span>
            <span class="ml-2" (click)="navigateTo('foodItems')">Food-Items</span>
            <span class="ml-2" (click)="navigateTo('Cart')">Cart</span>
        </span>
        <span class="example-spacer"></span>
        <span>
            Luminar
        </span>
    </mat-toolbar>
</div>