
  <mat-grid-list cols="3" rowHeight="500px">


    <ng-container *ngFor="let item of foodItems">
      <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets\photo\{{item.iconName}}.jpeg" alt="Photo of {{item.name}}">
            <mat-card-content>
              <span>
               Rating : {{item.rating}} *
              </span>
              <span>
               Price : ₹{{item.price}}
              </span>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>ADD TO CART</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    </ng-container>